name: 敬请期待

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: 暂未更新
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: 敬请期待
        uses: actions/checkout@v4
      
      - name: 敬请期待
        uses: actions/configure-pages@v5
      
      - name: 敬请期待
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'
      
      - name: 敬请期待
        id: deployment
        uses: actions/deploy-pages@v4
